#toTop {
  width: 65px;
  height: 65px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 15px;
  /* отступ кнопки от нижнего края страницы*/
  right: 15px;
  cursor: pointer;
  display: none;
  vertical-align: middle;
  color: #d0d0d0;
  font-family: verdana;
  font-size: 27px;
  transition: all linear 0.5s;
  z-index: 10;
}

#toTop img {
  width: 65px;
}