body {
  background: #fff;
  font-family: Dusha V5 Regular, sans-serif;
}

input {
  outline: none;
  font-family: Dusha V5 Regular, sans-serif;
}

button {
  outline: none;
  cursor: pointer;
  font-family: Dusha V5 Regular, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 650px;
  position: relative;
}

.main-bg {
  position: absolute;
  width: 100%;
  height: 650px;
  left: 0;
  top: 0;
  z-index: -2;
}

.main-slider {
  width: 100%;
  height: 650px;
}

.main-slide {
  width: 100%;
  height: 650px;
  outline: none;
}

.main-slide1 {
  width: 100%;
  height: 650px;
  background: url(../img/main/bg.JPG) center center no-repeat;
  z-index: -2;
}

.main-slide2 {
  width: 100%;
  height: 650px;
  background: url(../img/main/bg2.jpg) center center no-repeat;
}

.main-slide3 {
  width: 100%;
  height: 650px;
  background: url(../img/main/bg3.JPG) center center no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-block {
  margin-top: 15px;
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__tel {
  width: 33%;
  font-size: 25px;
}

.header-block__tel a {
  color: #d0d0d0;
}

.header-block__logo {
  width: 130px;
}

.header-block__logo img {
  width: 100%;
}

.header-block__buttons {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__button {
  background: #016e51;
  width: 160px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.header-block__buttonsmall {
  display: none;
}

.header-block__link {
  margin-right: 25px;
  width: 40px;
  height: 40px;
}

.header-block__link img {
  width: 100%;
  height: 100%;
}

.menu-burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: #016e51;
  color: #d0d0d0;
  z-index: 21;
}

.menu-burger img {
  width: 22px;
}

.mobmenu-block {
  display: none;
}

.menu-block {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-block__link {
  text-align: center;
  width: 20%;
  color: #d0d0d0;
  font-size: 20px;
}

.menu-block__link a {
  color: #d0d0d0;
  position: relative;
}

.main-block {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__title {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.main-block__title h1 {
  color: #d0d0d0;
  font-size: 50px;
  text-transform: uppercase;
}

.main-block__subtitle {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  color: #d0d0d0;
  font-size: 24px;
}

.main-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #016e51;
  width: 170px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

@media (min-width: 993px) {
  button {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  button:hover {
    background: #01553e;
    border-color: #01553e;
  }
  .main-block a {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .main-block a:hover {
    background: #01553e;
    border-color: #01553e;
  }
  .menu-block a {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .menu-block a::before {
    position: absolute;
    top: 25px;
    left: 0;
    width: 43px;
    border-bottom: 2px solid transparent;
    content: "";
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    z-index: 4;
  }
  .menu-block a:hover {
    cursor: pointer;
  }
  .menu-block a:hover::before {
    border-bottom: 2px solid #016e51;
  }
  .header-block__tel {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .header-block__tel:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  .header-block__link {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .header-block__link:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  .footer-block__tel {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .footer-block__tel:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  .footer-block__link {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .footer-block__link:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  .footer-block__mail a {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .footer-block__mail a:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  .footer-dk__link a {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .footer-dk__link a:hover {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
}

.features {
  width: 100%;
  height: 400px;
  background: #d0d0d0;
  position: relative;
}

.features-triangle {
  position: absolute;
  bottom: -149px;
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #d0d0d0)) left/50.1% 100% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #d0d0d0)) right/50.1% 100% no-repeat;
  background: linear-gradient(to right top, transparent 50%, #d0d0d0 50%) left/50.1% 100% no-repeat, linear-gradient(to left top, transparent 50%, #d0d0d0 50%) right/50.1% 100% no-repeat;
}

.features-title {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.features-block {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-block__element {
  text-align: center;
  width: 25%;
}

.features-block__pic {
  margin-bottom: 20px;
  height: 73px;
}

.features-block__pic img {
  height: 100%;
}

.features-block__title {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.features-block__subtitle {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  font-size: 17px;
  color: #2d2d2d;
}

.featurestwo {
  padding-top: 200px;
  padding-bottom: 150px;
}

.featurestwo-blocks {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.featurestwo-blockone {
  width: 550px;
}

.featurestwo-blockone__title {
  margin-top: 70px;
  margin-bottom: 25px;
  font-size: 26px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.featurestwo-blockone__descr {
  margin-bottom: 10px;
  font-size: 20px;
  color: #2d2d2d;
}

.featurestwo-blocktwo {
  width: 450px;
  height: 350px;
  position: relative;
}

.featurestwo-blocktwo__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featurestwo-blocktwo__pic1 {
  width: 238px;
  height: 350px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.featurestwo-blocktwo__pic2 {
  width: 194px;
  height: 260px;
  left: 57%;
  top: 5%;
  position: absolute;
}

.featurestwo-blocktwo__pic3 {
  width: 231px;
  height: 159px;
  top: 85%;
  left: 40%;
  position: absolute;
}

.catalog {
  padding-top: 40px;
  background: #d0d0d0;
  height: 525px;
}

.catalog-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin-bottom: 40px;
}

.catalog-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 900px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-slide {
  outline: none;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-block__pic {
  width: 50%;
  max-width: 450px;
  height: 340px;
}

.catalog-block__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-block__text {
  padding-left: 40px;
  width: 50%;
  max-width: 450px;
}

.catalog-block__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2d2d2d;
}

.catalog-block__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
}

.catalog-block__descr {
  margin-bottom: 35px;
  font-size: 18px;
  color: #2d2d2d;
  line-height: 20px;
}

.catalog-block__descr span {
  text-transform: uppercase;
  font-weight: 600;
}

.catalog-block__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-block__buy button {
  background: #016e51;
  width: 160px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.catalog-block__price {
  font-size: 26px;
  font-weight: 600;
  color: #2d2d2d;
}

@media (min-width: 993px) {
  button:hover {
    background: #01553e;
    border-color: #01553e;
  }
}

.services {
  background: #1f1f1f;
  padding-bottom: 20px;
}

.services-title {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #d0d0d0;
  margin-bottom: 40px;
}

.services-blocks {
  width: 100%;
  max-width: 1070px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.services-blockone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-blockone__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-blockone__buttons button {
  padding-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  background: #016e51;
  width: 350px;
  height: 65px;
  border: 1px solid #016e51;
  border-radius: 2px;
  color: #d0d0d0;
  font-size: 20px;
}

.services-blocktwo__blocktwo {
  display: none;
}

.services-blocktwo__blockthree {
  display: none;
}

.services-blocktwo__block {
  width: 500px;
  height: 405px;
}

.services-blocktwo__pic {
  width: 500px;
}

.services-blocktwo__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-blocktwo__text {
  width: 500px;
  color: #d0d0d0;
  text-align: justify;
  font-size: 20px;
}

@media (min-width: 993px) {
  button:hover {
    background: #01553e;
    border-color: #01553e;
  }
}

.about {
  background: #1f1f1f;
  position: relative;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-pic {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.about-block {
  width: 500px;
  margin-left: 53%;
}

.about-block__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #d0d0d0;
  margin-bottom: 40px;
}

.about-block__descr {
  color: #d0d0d0;
  font-size: 20px;
  text-align: justify;
}

.present {
  padding-top: 100px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/present/bg.png) bottom no-repeat;
}

.present-block {
  width: 700px;
}

.present-block__title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.present-block__subtitle {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #2d2d2d;
}

.present-block__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #016e51;
  width: 170px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.partners {
  padding-top: 40px;
  padding-bottom: 40px;
}

.partners-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin-bottom: 40px;
}

.partners-blocks {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-block {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 40px;
  background: #1f1f1f;
}

.footer-blocks {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.footer-block__contacts {
  width: 33%;
}

.footer-block__city {
  margin-bottom: 5px;
  font-size: 20px;
  color: #d0d0d0;
}

.footer-block__tel {
  font-size: 20px;
  color: #d0d0d0;
}

.footer-block__tel a {
  color: #d0d0d0;
}

.footer-block__logo {
  width: 130px;
}

.footer-block__logo img {
  width: 100%;
}

.footer-block__buttons {
  width: 33%;
  text-align: right;
}

.footer-block__rels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}

.footer-block__link {
  margin-right: 25px;
  width: 40px;
  height: 40px;
  position: relative;
}

.footer-block__link img {
  width: 100%;
  height: 100%;
}

.footer-block__button {
  background: #016e51;
  width: 170px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.footer-block__mail {
  display: inline-block;
  text-align: right;
  font-size: 20px;
  color: #d0d0d0;
}

.footer-block__mail a {
  color: #d0d0d0;
}

.footer-dk {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-top: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-dk__link {
  font-family: Arial, Helvetica, sans-serif;
  color: #d0d0d0;
  font-size: 15px;
}

.footer-dk__link a {
  color: #d0d0d0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  padding: 30px;
  text-align: center;
  z-index: 250;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 350px;
  min-width: 320px;
  max-height: 400px;
  background-color: #fff;
  border-radius: 5px;
}

.popup-close {
  position: absolute;
  right: 9px;
  top: -6px;
  font-size: 40px;
  color: #2d2d2d;
  font-weight: 300;
  cursor: pointer;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.popup-small {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-size: 16px;
  color: #2d2d2d;
}

.popupform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  margin-bottom: 20px;
}

.form-input {
  padding-left: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #016e51;
}

.form-button {
  margin-top: 10px;
  background: #016e51;
  width: 160px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.overlaytime {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.6);
}

.popuptime {
  padding: 30px;
  text-align: center;
  z-index: 250;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 350px;
  min-width: 320px;
  max-height: 400px;
  background-color: #fff;
  border-radius: 5px;
}

.popuptime-close {
  position: absolute;
  right: 9px;
  top: -6px;
  font-size: 40px;
  color: #2d2d2d;
  font-weight: 300;
  cursor: pointer;
}

.popuptime-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popuptime-title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.popuptime-subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #2d2d2d;
}

.popuptime-small {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-size: 16px;
  color: #2d2d2d;
}

.popuptimeform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeform {
  margin-bottom: 20px;
}

.timeform-input {
  padding-left: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #016e51;
}

.timeform-button {
  margin-top: 10px;
  background: #016e51;
  width: 160px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.overlaypresent {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.6);
}

.popuppresent {
  padding: 30px;
  text-align: center;
  z-index: 250;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.popuppresent-close {
  position: absolute;
  right: 9px;
  top: -6px;
  font-size: 40px;
  color: #2d2d2d;
  font-weight: 300;
  cursor: pointer;
}

.popuppresent-step {
  position: fixed;
  left: 9px;
  top: 9px;
  width: 100px;
  height: 30px;
  color: #2d2d2d;
  font-size: 20px;
}

.popuppresent-title {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.popuppresent-subtitle {
  top: 60px;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: #2d2d2d;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.step-one {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step-one__elements {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  padding-bottom: 90px;
}

.step-one__pic {
  border-radius: 5px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 180px;
  height: 180px;
}

.step-one__pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.step-one__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  position: relative;
  color: #d0d0d0;
}

.step-one__check::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.step-one__check input {
  margin-right: 10px;
  z-index: 11;
}

.step-one__check span {
  z-index: 11;
}

.step-two {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.step-two select {
  width: 300px;
  height: 50px;
  border: 1px solid #016e51;
  border-radius: 2px;
  outline: none;
  font-family: Dusha V5 Regular, sans-serif;
  color: #2d2d2d;
}

.step-three {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.step-three select {
  width: 300px;
  height: 50px;
  border: 1px solid #016e51;
  border-radius: 2px;
  outline: none;
  font-family: Dusha V5 Regular, sans-serif;
  color: #2d2d2d;
}

.step-for {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.step-for select {
  width: 300px;
  height: 50px;
  border: 1px solid #016e51;
  border-radius: 2px;
  outline: none;
  font-family: Dusha V5 Regular, sans-serif;
  color: #2d2d2d;
}

.step-five {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.step-six {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.step-six__select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step-six__select1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}

.step-six__select1 input {
  margin-right: 10px;
}

.step-buttons {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonpresent {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  background: #016e51;
  width: 160px;
  height: 40px;
  border: 1px solid #016e51;
  border-radius: 4px;
  color: #d0d0d0;
  font-size: 18px;
}

.popuppresent-input {
  padding-left: 10px;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #016e51;
}

@media (max-width: 578px) and (min-width: 320px) {
  .header {
    padding-top: 75px;
  }
  .header-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-block__tel {
    padding-top: 20px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 58px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
    font-size: 18px;
    z-index: 10;
    color: #fff;
  }
  .header-block__tel::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #2d2d2d;
    z-index: -2;
  }
  .header-block a {
    z-index: 10;
  }
  .header-block__logo {
    width: 100px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px;
  }
  .header-block__buttons1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-block__buttons {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-block__buttons a {
    display: none;
  }
  .header-block__link {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-block__button {
    display: none;
  }
  .header-block__buttonsmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 38px;
    height: 38px;
    font-size: 24px;
    background: #016e51;
    border: 1px solid #016e51;
    border-radius: 4px;
    color: #d0d0d0;
    z-index: 10;
  }
  .header-block__buttonsmall img {
    width: 23px;
  }
  .main {
    height: 470px;
  }
  .main-bg {
    height: 470px;
  }
  .main-slider {
    height: 470px;
  }
  .main-slide {
    height: 470px;
  }
  .main-slide1 {
    height: 470px;
    background-size: cover;
  }
  .main-slide2 {
    height: 470px;
    background-size: cover;
  }
  .main-slide3 {
    height: 470px;
    background-size: cover;
  }
  .main-block {
    width: 95%;
    margin-top: 30px;
  }
  .main-block__title h1 {
    font-size: 35px;
  }
  .main-block__subtitle {
    font-size: 20px;
  }
  .menu-burger__open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobmenu-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 30px;
    background: #2d2d2d;
    color: #d0d0d0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
  }
  .mobmenu-block__link {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    color: #d0d0d0;
    font-size: 20px;
  }
  .mobmenu-block__link a {
    color: #d0d0d0;
  }
  .menu-block {
    display: none;
  }
  .features {
    height: 100%;
  }
  .features-triangle {
    bottom: -69px;
    width: 100%;
    height: 70px;
  }
  .features-title {
    padding-top: 25px;
    font-size: 22px;
  }
  .features-block {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__element {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
  }
  .features-block__pic {
    margin-bottom: 15px;
    height: 43px;
  }
  .features-block__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .features-block__subtitle {
    font-size: 16px;
  }
  .featurestwo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .featurestwo-blockone {
    width: 90%;
  }
  .featurestwo-blockone__title {
    margin-bottom: 25px;
    font-size: 22px;
    text-align: center;
  }
  .featurestwo-blockone__descr {
    font-size: 18px;
    text-align: center;
  }
  .featurestwo-blocktwo {
    display: none;
  }
  .catalog {
    padding-top: 0;
    padding-bottom: 10px;
    height: 100%;
  }
  .catalog-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .catalog-slider {
    height: 580px;
  }
  .catalog-slider .slick-next {
    right: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-prev {
    left: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-dots {
    bottom: 355px;
  }
  .catalog-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-block__pic {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 240px;
  }
  .catalog-block__text {
    width: 90%;
    padding-left: 0;
  }
  .catalog-block__title {
    height: 35px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
  }
  .catalog-block__subtitle {
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .catalog-block__descr {
    height: 130px;
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
  }
  .catalog-block__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog-block__price {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .services {
    padding-bottom: 25px;
  }
  .services-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .services-blocks {
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-slider {
    width: 95%;
  }
  .services-blockone__buttons button {
    width: 90%;
    height: 50px;
    max-width: 350px;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: center;
  }
  .services-blocktwo__block {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 290px;
  }
  .services-blocktwo__pic {
    width: 100%;
  }
  .services-blocktwo__text {
    width: 100%;
    font-size: 17px;
    text-align: center;
  }
  .about {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .about-pic {
    width: 100%;
    max-width: 400px;
    right: 0;
    left: 0;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  .about-block {
    z-index: 5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-block__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }
  .about-block__descr {
    font-size: 17px;
    text-align: center;
  }
  .present {
    padding-top: 100px;
    height: 450px;
  }
  .present-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .present-block__title {
    font-size: 30px;
  }
  .present-block__subtitle {
    font-size: 22px;
  }
  .partners {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .partners-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .partners-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-block {
    margin-bottom: 25px;
    max-width: 210px;
    width: 80%;
  }
  .footer {
    padding-top: 25px;
  }
  .footer-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-block__contacts {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-block__city {
    font-size: 18px;
  }
  .footer-block__tel {
    font-size: 18px;
  }
  .footer-block__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .footer-block__buttons {
    width: 100%;
  }
  .footer-block__rels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__link {
    margin-right: 10px;
  }
  .footer-block__mail {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .popuppresent-step {
    left: 0;
    font-size: 16px;
  }
  .popuppresent-title {
    top: 30px;
    font-size: 22px;
  }
  .popuppresent-subtitle {
    font-size: 18px;
  }
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}

@media (max-width: 768px) and (min-width: 579px) {
  .header {
    padding-top: 40px;
  }
  .header-block {
    width: 95%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-block__tel {
    padding-top: 20px;
    text-align: left;
    width: 33%;
    height: 58px;
    margin-bottom: 10px;
    font-size: 22px;
    z-index: 10;
    color: #fff;
  }
  .header-block__logo {
    width: 100px;
    margin-bottom: 10px;
  }
  .header-block__buttons1 {
    display: none;
  }
  .header-block__buttons {
    width: 33%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-block__link {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-block__button {
    display: none;
  }
  .header-block__buttonsmall {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background: #016e51;
    border: 1px solid #016e51;
    border-radius: 50%;
    color: #d0d0d0;
    padding-bottom: 5px;
    z-index: 10;
  }
  .main {
    height: 470px;
  }
  .main-bg {
    height: 470px;
  }
  .main-slider {
    height: 470px;
  }
  .main-slide {
    height: 470px;
  }
  .main-slide1 {
    height: 470px;
    background-size: cover;
  }
  .main-slide2 {
    height: 470px;
    background-size: cover;
  }
  .main-slide3 {
    height: 470px;
    background-size: cover;
  }
  .main-block {
    width: 95%;
    margin-top: 50px;
  }
  .main-block__title h1 {
    font-size: 35px;
  }
  .main-block__subtitle {
    font-size: 20px;
  }
  .menu-burger__open {
    display: none;
  }
  .menu-burger__open__link {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    color: #d0d0d0;
    font-size: 20px;
  }
  .menu-burger__open__link a {
    color: #d0d0d0;
  }
  .menu-block {
    margin-top: 0;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .menu-block::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #2d2d2d;
    z-index: -2;
  }
  .menu-block__link {
    font-size: 18px;
  }
  .menu-block__link a {
    z-index: 10;
  }
  .features {
    height: 100%;
  }
  .features-triangle {
    bottom: -69px;
    width: 100%;
    height: 70px;
  }
  .features-title {
    padding-top: 25px;
    font-size: 22px;
  }
  .features-block {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__element {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
  }
  .features-block__pic {
    margin-bottom: 15px;
    height: 43px;
  }
  .features-block__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .features-block__subtitle {
    font-size: 16px;
  }
  .featurestwo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .featurestwo-blockone {
    width: 90%;
    max-width: 500px;
  }
  .featurestwo-blockone__title {
    margin-bottom: 25px;
    font-size: 22px;
    text-align: center;
  }
  .featurestwo-blockone__descr {
    font-size: 18px;
    text-align: center;
  }
  .featurestwo-blocktwo {
    display: none;
  }
  .catalog {
    padding-top: 0;
    padding-bottom: 10px;
    height: 100%;
  }
  .catalog-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .catalog-slider {
    max-width: 520px;
    height: 530px;
  }
  .catalog-slider .slick-next {
    right: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-prev {
    left: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-dots {
    bottom: 300px;
  }
  .catalog-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-block__pic {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 240px;
  }
  .catalog-block__text {
    width: 90%;
    padding-left: 0;
  }
  .catalog-block__title {
    height: 35px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
  }
  .catalog-block__subtitle {
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .catalog-block__descr {
    height: 90px;
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
  }
  .catalog-block__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog-block__price {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .services {
    padding-bottom: 25px;
  }
  .services-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .services-blocks {
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-slider {
    width: 95%;
  }
  .services-blockone__buttons button {
    width: 90%;
    height: 50px;
    max-width: 350px;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: center;
  }
  .services-blocktwo__block {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 290px;
  }
  .services-blocktwo__pic {
    width: 100%;
  }
  .services-blocktwo__text {
    width: 100%;
    font-size: 17px;
    text-align: center;
  }
  .about {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .about-pic {
    width: 100%;
    max-width: 400px;
    right: 0;
    left: 0;
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }
  .about-block {
    z-index: 5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-block__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }
  .about-block__descr {
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    font-size: 17px;
    text-align: center;
  }
  .present {
    padding-top: 100px;
    height: 400px;
  }
  .present-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .present-block__title {
    font-size: 30px;
  }
  .present-block__subtitle {
    font-size: 22px;
  }
  .partners {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .partners-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .partners-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 210px;
    width: 80%;
  }
  .footer {
    padding-top: 25px;
  }
  .footer-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__contacts {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-block__city {
    font-size: 18px;
  }
  .footer-block__tel {
    font-size: 18px;
  }
  .footer-block__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .footer-block__buttons {
    width: 100%;
    text-align: center;
  }
  .footer-block__rels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__link {
    margin-right: 10px;
  }
  .footer-block__mail {
    width: 100%;
    max-width: 250px;
    font-size: 18px;
    text-align: center;
  }
  .popuppresent-step {
    left: 0;
    font-size: 16px;
  }
  .popuppresent-title {
    top: 30px;
    font-size: 22px;
  }
  .popuppresent-subtitle {
    font-size: 18px;
  }
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .header-block {
    width: 95%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-block__tel {
    padding-top: 20px;
    text-align: left;
    width: 33%;
    height: 58px;
    margin-bottom: 10px;
    font-size: 22px;
    z-index: 10;
    color: #fff;
  }
  .header-block__logo {
    width: 100px;
    margin-bottom: 10px;
  }
  .header-block__buttons1 {
    display: none;
  }
  .header-block__buttons {
    width: 33%;
  }
  .header-block__link {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-block__buttonsmall {
    display: none;
  }
  .main {
    height: 470px;
  }
  .main-bg {
    height: 470px;
  }
  .main-slider {
    height: 470px;
  }
  .main-slide {
    height: 470px;
  }
  .main-slide1 {
    height: 470px;
    background-size: cover;
  }
  .main-slide2 {
    height: 470px;
    background-size: cover;
  }
  .main-slide3 {
    height: 470px;
    background-size: cover;
  }
  .main-block {
    width: 95%;
    margin-top: 50px;
  }
  .main-block__title h1 {
    font-size: 40px;
  }
  .main-block__subtitle {
    font-size: 20px;
  }
  .menu-burger__open {
    display: none;
  }
  .menu-block {
    margin-top: 10px;
    width: 80%;
  }
  .features {
    height: 100%;
  }
  .features-triangle {
    bottom: -69px;
    width: 100%;
    height: 70px;
  }
  .features-title {
    padding-top: 25px;
    font-size: 22px;
  }
  .features-block {
    max-width: 800px;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__element {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
  }
  .features-block__pic {
    margin-bottom: 15px;
    height: 43px;
  }
  .features-block__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .features-block__subtitle {
    font-size: 16px;
  }
  .featurestwo {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .featurestwo-blocks {
    max-width: 750px;
  }
  .featurestwo-blockone {
    width: 49%;
    max-width: 500px;
  }
  .featurestwo-blockone__title {
    margin-bottom: 25px;
    font-size: 22px;
    text-align: center;
  }
  .featurestwo-blockone__descr {
    font-size: 18px;
  }
  .featurestwo-blocktwo {
    margin-left: 30px;
    width: 49%;
    max-width: 500px;
  }
  .featurestwo-blocktwo__pic1 {
    width: 200px;
    height: 290px;
  }
  .featurestwo-blocktwo__pic2 {
    top: 16%;
    left: 58%;
    width: 140px;
    height: 180px;
  }
  .featurestwo-blocktwo__pic3 {
    top: 70%;
    width: 160px;
    height: 100px;
  }
  .catalog {
    padding-top: 0;
    padding-bottom: 10px;
    height: 100%;
  }
  .catalog-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .catalog-slider {
    max-width: 520px;
    height: 530px;
  }
  .catalog-slider .slick-next {
    right: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-prev {
    left: 5px;
    z-index: 7;
  }
  .catalog-slider .slick-dots {
    bottom: 300px;
  }
  .catalog-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-block__pic {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 240px;
  }
  .catalog-block__text {
    width: 90%;
    padding-left: 0;
  }
  .catalog-block__title {
    height: 35px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
  }
  .catalog-block__subtitle {
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .catalog-block__descr {
    height: 90px;
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
  }
  .catalog-block__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog-block__price {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .services {
    padding-bottom: 25px;
  }
  .services-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .services-blocks {
    width: 95%;
    max-width: 800px;
  }
  .services-blockone__buttons button {
    width: 90%;
    height: 50px;
    max-width: 350px;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: center;
  }
  .services-blocktwo__block {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 290px;
  }
  .services-blocktwo__pic {
    width: 100%;
  }
  .services-blocktwo__text {
    width: 100%;
    font-size: 17px;
    text-align: center;
  }
  .about {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .about-pic {
    left: 0;
    width: 50%;
  }
  .about-block {
    margin-left: 51%;
    z-index: 5;
    width: 330px;
  }
  .about-block__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }
  .about-block__descr {
    font-size: 17px;
  }
  .present {
    padding-top: 100px;
    height: 400px;
  }
  .present-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .present-block__title {
    font-size: 30px;
  }
  .present-block__subtitle {
    font-size: 22px;
  }
  .partners {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .partners-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .partners-blocks {
    max-width: 850px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 210px;
    width: 80%;
  }
  .footer {
    padding-top: 25px;
  }
  .footer-blocks {
    width: 95%;
  }
  .popuppresent-step {
    left: 0;
    font-size: 16px;
  }
  .popuppresent-title {
    top: 30px;
    font-size: 22px;
  }
  .popuppresent-subtitle {
    font-size: 18px;
  }
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}

@media (max-width: 1100px) and (min-width: 993px) {
  .header-block {
    width: 95%;
  }
  .features {
    height: 100%;
  }
  .features-triangle {
    bottom: -69px;
    width: 100%;
    height: 70px;
  }
  .features-title {
    padding-top: 25px;
  }
  .features-block {
    max-width: 800px;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__element {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
  }
  .features-block__pic {
    margin-bottom: 15px;
  }
  .features-block__title {
    margin-bottom: 5px;
  }
  .featurestwo {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .featurestwo-blocks {
    width: 95%;
  }
  .featurestwo-blockone {
    width: 49%;
    max-width: 550px;
  }
  .featurestwo-blocktwo {
    width: 49%;
    max-width: 450px;
  }
  .catalog-slider .slick-next {
    right: -35px;
    z-index: 7;
  }
  .catalog-slider .slick-prev {
    left: -35px;
    z-index: 7;
  }
  .services-blocks {
    width: 95%;
  }
  .about {
    height: 550px;
  }
  .about-block {
    margin-left: 48%;
    z-index: 5;
    width: 470px;
  }
  .present {
    padding-top: 120px;
    height: 440px;
  }
  .partners-blocks {
    max-width: 850px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 210px;
    width: 80%;
  }
  .footer-blocks {
    width: 95%;
  }
  .popuppresent-step {
    left: 0;
    font-size: 16px;
  }
  .popuppresent-title {
    top: 30px;
    font-size: 22px;
  }
  .popuppresent-subtitle {
    font-size: 18px;
  }
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}

@media (max-width: 1200px) and (min-width: 1101px) {
  .header-block {
    width: 95%;
  }
  .features-block__title {
    font-size: 20px;
  }
  .partners-block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 200px;
    width: 80%;
  }
  .footer-blocks {
    width: 95%;
  }
  .popuppresent-step {
    left: 0;
    font-size: 16px;
  }
  .popuppresent-title {
    top: 30px;
    font-size: 22px;
  }
  .popuppresent-subtitle {
    font-size: 18px;
  }
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}

@media (max-width: 1400px) and (min-width: 1201px) {
  .step {
    padding-bottom: 50px;
    height: 100vh;
  }
  .step-buttons {
    padding-bottom: 10px;
    height: 60px;
    background: #fff;
    z-index: 13;
    bottom: 0;
  }
}
