.about
  background: #1f1f1f
  position: relative
  height: 600px
  display: flex
  align-items: center
  &-pic
    position: absolute
    bottom: 0
    right: 50%
  &-block
    width: 500px
    margin-left: 53%
    &__title
      font-size: 30px
      text-transform: uppercase
      color: #d0d0d0
      margin-bottom: 40px
    &__descr
      color: #d0d0d0
      font-size: 20px
      text-align: justify