.features
  background: #e1e6ea
  padding: 40px 0
  &-title
    margin-bottom: 50px
    width: 100%
    text-align: center
    text-transform: uppercase
    font-size: 24px
    color: #223a5e
    font-weight: 400
  &-blocks
    margin-left: auto
    margin-right: auto
    width: 1170px
    display: flex
    justify-content: space-between
    align-items: center
  &-block
    width: 20%
    &__pic
      margin-bottom: 8px
      margin-left: auto
      margin-right: auto
      width: 100px
      height: 100px
      border-radius: 50%
      border: 3px solid #818d9a
      padding: 8px
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__title
      margin-left: auto
      margin-right: auto
      margin-bottom: 15px
      width: 70%
      height: 45px
      text-align: center
      font-size: 18px
      color: #223a5e
      font-weight: 400
    &__descr
      margin-left: auto
      margin-right: auto
      color: #000
      width: 90%
      text-align: center
      font-family: Futura PT Book, sans-serif