@media (max-width: 575px) and (min-width: 320px)
	.hidden-menu
		display: none
	.hidden-mobile
		display: none
	.header
		background-color: #f4f4f4
		background-size: 100% 100%
		margin-top: 0
		padding-top: 11px
		padding-bottom: 11px
		&-imgphone
			max-width: 14px
			max-height: 14px
		&-span
			font-weight: 700
		&__logo
			margin-left: 0
			background: $active-color url(../img/mobile/header-logo.png) center no-repeat
			width: 34px
			height: 34px
			border-radius: 2px
		&-contacts
			margin-top: 0
			margin-right: 2px
			&__phone
				&s
					flex-direction: column
			 font-size: 14px
			 margin-right: 0
			 &:first-child
			 	border-right: none
			 &:nth-child(2)
			  margin-right: 0
			&__button
				display: inline-block
				padding: 4px 5px
				img
					margin-right: 0
	.popup
		max-width: 80%
		top: 10%
		&-form
			padding: 10px
			&-header
				font-size: 18px
				span
					font-size: 18px
			&__label
				font-size: 18px
			&__input
				width: 220px
				font-size: 15px
				text-align: center
				padding-left: 0
				margin-bottom: 5px
			&__btn
				margin-left: 0
	.popup-title
		font-size: 18px
	.phankyou
		&-popup
			max-width: 80%
			top: 30%
			&__form
				font-size: 19px
				padding-left: 0px
				padding-right: 0px
			&__title
			 font-size: 18px
	.slider-in
		padding-top: 36px
		padding-bottom: 42px
	.slider-in-2
		padding-top: 22px
		padding-bottom: 41px
	.main
		text-align: center
		padding-top: 0
		width: 100%
		&-text
			padding-top: 7px
			padding-left: 0
			&__title
				font-size: 22px
				line-height: 25px
				color: $active-color
			&__subtitle
				font-size: 17px
				margin-bottom: 35px
			&__form
				background-color: transparent
				padding: 0
		&-text-2
			&__title
				font-size: 22px
				color: $active-color
			&__subtitle
				font-size: 18px
				margin-bottom: 40px
		&-text-2
			padding-top: 22px
			padding-left: 0
	.form
		display: block
		&-title
			margin-bottom: 17px
			width: 100%
			padding-right: 0
			font-size: 15px
			line-height: 1.3
			&__important
				margin-top: 7px
				font-size: 15px
		&__input
			display: block
			text-align: center
			margin-left: auto
			margin-right: auto
			font-size: 13px
			margin-bottom: 13px
			padding-top: 15px
			padding-bottom: 15px
		&-small
			padding-left: 0
		.button_big
			padding: 17px 31px


	.slider-main
		top: 82%
		transform: scale(0.6, 0.6)
		&:hover
			transform: scale(0.6, 0.6)
		&_right
			right: 42%
		&_left
			left: 42%


	.numbers
		margin-bottom: 10px
		&-block
			display: block
			width: 100%
			margin-bottom: 17px
			&__title
				font-size: 30px
				margin-bottom: 1px
			&__text
				font-size: 15px
	.features
		padding-top: 17px
		padding-bottom: 27px
		&-blocks
			justify-content: center
		&-block
			margin-bottom: 5px
			padding: 22px 15px 16px 15px
			&:hover
				transform: none
				border: none
			&__title
				text-align: justify
				margin-bottom: 0
			&__descr
				text-align: justify


	.products
		padding-top: 27px
		padding-bottom: 15px
		&-title
			margin-bottom: 4px
			font-size: 22px
			&::after
				margin-top: 0
				background: #fff
		&-block
			margin-bottom: 27px
			&__title
				margin-bottom: 16px
				font-size: 18px
				max-width: 90%
				margin-left: auto
				margin-right: auto
			&__title3
				margin-bottom: 12px
			&__img
				min-width: 290px
				min-height: 100%
				margin-bottom: 18px
			&__img3
				min-width: 260px
				margin-bottom: -2px
			&__img4
				padding-top: 4px
				margin-bottom: 6px
				min-width: 290px
			&__button
				padding: 13px 20px 13px 21px
				font-size: 14px
				margin-right: 6px

	.offer
		padding-top: 42px
		padding-bottom: 46px
		&-title
			margin-bottom: 32px
			font-size: 20px
			&_small
				padding-top: 7px
				font-size: 16px
		&-form
			&__input
				margin-left: auto
				margin-right: auto
				min-width: 290px
			&__label
				margin-bottom: 22px
				font-size: 14px
			&__button
				margin-bottom: 10px
				padding: 17px 34px 17px 34px
 
	.production-slider_top
		display: none
	.production
		padding-top: 30px
		padding-bottom: 38px	
		&-container
			padding-left: 0
			padding-right: 0
		&-slider_bottom
			width: 90%
			margin-left: auto
			margin-right: auto
			margin-top: 8px
			padding: 0
			img
				height: 230px
				width: 100%
				overflow-y: hidden
		&-text
			&__title
				margin-bottom: 17px
				font-size: 20px
				padding: 14px 58px 15px 57px
				margin-left: 0
				margin-right: 0
				text-align: center
				text-transform: uppercase
			&__descr
				margin-left: auto
				margin-right: auto
				width: 87%
				line-height: 17px	
	p
		margin-bottom: 14px
		font-size: 14px					
	
	.slider-arrow
		top: 34%
		height: 80px
		z-index: 3
		&_right 
			right: 6px
			background: $active-color url(../img/arrow-right-active.png) center no-repeat
		&_left
			left: 6px
			background: $active-color url(../img/arrow-left-active.png) center no-repeat

	.clients-title
		margin-bottom: 8px
		font-size: 23px
		&::after
			margin-top: 0
			background: #fff
	.clients
		padding-top: 10px
		padding-bottom: 23px
		&-block
			filter: none
			height: 86px
			margin-bottom: 8px
			&:hover
				cursor: auto
			&__img
				max-width: 95%
				max-height: 75%

	.feedback-title
		margin-bottom: 8px
		font-size: 23px
		line-height: 25px
		&::after
			margin-top: 0
			background: $bg-color-light
	.feedback
		padding-top: 30px
		padding-bottom: 33px
		&-slider
			padding: 0
			img
				width: 92%
	.slider-feed
		top: 39%
		height: 78px
		width: 22px
		z-index: 5
		&_right 
			right: 6px
			background: $active-color url(../img/arrow-right-active.png) center no-repeat
		&_left
			left: 6px
			background: $active-color url(../img/arrow-left-active.png) center no-repeat
				
	.contacts
		display: block
		background-color: #fff
		padding-top: 16px
		&-map-text
			margin-left: auto
			margin-right: auto
			position: static
			width: 100%
			height: 100%
		&-block
			z-index: 0
			top: 0
			left: 0
			position: relative
			font-size: 14px
			padding-left: 32px
			padding-bottom: 25px
			text-align: center
			&__title
				margin-bottom: 8px
			&__address
				margin-top: 10px
				&::after
					display: none
			&__phone
				margin-top: 25px
				&::after
					display: none
			&__mail
				margin-top: 22px
				&::after
					display: none
			&__table
				margin-top: 18px
				display: block
				font-size: 22px
				font-weight: 900
				text-transform: uppercase
				text-align: center
	.map
		margin-left: auto
		margin-right: auto
		margin-bottom: 20px
		width: 90%
		height: 425px

/* Конец @media (max-width: 576px) */

@media (min-width: 460px) and (max-width: 576px)
	.production
		&-slider_bottom
			img
				height: 330px

	.phankyou
		&-popup
			max-width: 80%
			top: 30%
			&__form
				font-size: 19px
				padding-left: 0px
				padding-right: 0px
			&__title
			 font-size: 18px

@media (max-width: 767px) and (min-width: 576px)
	.hidden-menu
		display: none
	.hidden-mobile
		display: none
	.header
		background-color: #f4f4f4
		background-size: 100% 100%
		margin-top: 0
		padding-top: 11px
		padding-bottom: 11px
		&__logo
			margin-left: 0
			background: $active-color url(../img/mobile/header-logo.png) center no-repeat
			width: 38px
			height: 38px
			border-radius: 2px
		&-contacts
			margin-top: 0
			margin-right: 2px
			&__phone
				&s
					flex-direction: column
			 font-size: 15px
			 margin-right: 6px
			 &:first-child
			 	border-right: none
			 &:nth-child(2)
			  margin-right: 0
			&__button
				display: inline-block
				padding: 4px
				img
					margin-right: 0
	.slider-in
		padding-top: 42px
		padding-bottom: 55px
	.slider-in-2
		padding-top: 27px
		padding-bottom: 56px
	.main
		text-align: center
		padding-top: 0
		width: 100%
		&-text
			padding-top: 7px
			padding-left: 0
			&__title
				font-size: 28px
				line-height: 30px
				color: $active-color
			&__subtitle
				font-size: 18px
				margin-bottom: 38px
			&__form
				background-color: transparent
				padding: 0
		&-text-2
			&__title
				font-size: 28px
				color: $active-color
			&__subtitle
				font-size: 18px
				margin-bottom: 40px
		&-text-2
			padding-top: 22px
			padding-left: 0
	.form
		display: block
		&-title
			width: 100%
			padding-right: 0
			font-size: 16px
			line-height: 1.4
			&__important
				margin-top: 5px
				font-size: 15px
		&__input
			display: block
			text-align: center
			margin-left: auto
			margin-right: auto
			margin-bottom: 13px
			padding-top: 17px
			padding-bottom: 17px
		&-small
			padding-left: 0

	.slider-main
		top: 40%
		transform: scale(1.2, 1.2)
		&:hover
			transform: scale(1.4, 1.4)
		&_right
			right: 2%
		&_left
			left: 2%

	.popup
		max-width: 80%
		&-form
			padding: 10px
			&-header
				font-size: 18px
				span
					font-size: 18px
			&__label
				font-size: 18px
			&__input
				margin-top: 0
				width: 270px
			&__btn
				margin-top: 5px
				margin-left: 0
	.popup-title
		font-size: 18px
	
	.phankyou
		&-popup
			max-width: 80%
			top: 30%
			&__form
				padding-left: 0px
				padding-right: 0px

	.numbers
		margin-bottom: 10px
		&-block
			display: block
			width: 100%
			margin-bottom: 21px
			&__title
				font-size: 33px
				margin-bottom: 4px
	.features
		padding-top: 19px
		padding-bottom: 27px
		&-blocks
			justify-content: center
		&-block
			flex-basis: 20%
			margin-bottom: 10px
			padding: 22px 15px 22px 15px
			&:hover
				transform: none
				border: none
		&__descr
				text-align: justify


	.products
		padding-top: 27px
		padding-bottom: 15px
		&-title
			margin-bottom: 0
			&::after
				margin-top: 0
				background: #fff
		&-block
			margin-bottom: 29px
			&__title4
				margin-top: -13px
			&__title
				max-width: 90%
				margin-left: auto
				margin-right: auto
			&__img
				min-width: 300px
				min-height: 100%
				margin-bottom: 18px
			&__icon

	.offer
		padding-top: 50px
		padding-bottom: 54px
		&-title
			margin-bottom: 32px
			font-size: 24px
			&_small
				padding-top: 7px
				font-size: 18px
		&-form
			&__label
				margin-bottom: 26px
				font-size: 15px
			&__button
				margin-bottom: 17px
				padding: 19px 40px 19px 40px
 
	.production-slider_top
		display: none
	.production
		padding-top: 23px
		padding-bottom: 38px
		&-container
			min-width: 100%
			margin-left: 0
			margin-right: 0
			padding-left: 0
			padding-right: 0
		&-slider_bottom
			width: 90%
			margin-left: auto
			margin-right: auto
			margin-top: 8px
			padding: 0
			img
				height: 365px
				width: 100%
				overflow-y: hidden
		&-text
			&__title
				margin-bottom: 17px
				font-size: 22px
				padding: 20px 58px 15px 57px
				margin-left: 0
				margin-right: 0
				text-align: center
				text-transform: uppercase
			&__descr
				margin-left: auto
				margin-right: auto
				width: 87%
	p
		text-align: justify
		margin-bottom: 18px					
	
	.slider-arrow
		top: 40%
		height: 80px
		z-index: 3
		&_right 
			right: 6px
			background: $active-color url(../img/arrow-right-active.png) center no-repeat
		&_left
			left: 6px
			background: $active-color url(../img/arrow-left-active.png) center no-repeat

	.clients-title
		margin-bottom: 8px
		font-size: 25px
		&::after
			margin-top: 0
			background: #fff
	.clients
		padding-top: 0
		&-block
			height: 100px
			margin-bottom: 5px
			filter: none
			&:hover
				cursor: auto
			&__img
					max-width: 95%
					max-height: 90%

	.feedback-title
		margin-bottom: 8px
		font-size: 25px
		&::after
			margin-top: 0
			background: $bg-color-light
	.feedback
		padding-top: 29px
		padding-bottom: 33px
		&-slider
			padding: 0
			img
				width: 92%
	.slider-feed
		top: 39%
		height: 86px
		width: 22px
		z-index: 5
		&_right 
			right: 6px
			background: $active-color url(../img/arrow-right-active.png) center no-repeat
		&_left
			left: 6px
			background: $active-color url(../img/arrow-left-active.png) center no-repeat

	.offer
		&-form
			&__input
				margin-left: auto
				margin-right: auto
				min-width: 300px
	.contacts
		display: block
		background-color: #fff
		padding-top: 16px
		&-map-text
			margin-left: auto
			margin-right: auto
			position: static
			width: 100%
			height: 100%
		&-block
			top: 0
			left: 0
			position: relative
			font-size: 14px
			padding-left: 32px
			padding-bottom: 25px
			text-align: center
			&__title
				margin-bottom: 8px
			&__address
				margin-top: 10px
				&::after
					display: none
			&__phone
				margin-top: 25px
				&::after
					display: none
			&__mail
				margin-top: 22px
				&::after
					display: none
			&__table
				margin-top: 18px
				display: block
				font-size: 22px
				font-weight: 900
				text-transform: uppercase
				text-align: center
	.map
		margin-left: auto
		margin-right: auto
		margin-bottom: 30px
		width: 90%
		height: 425px

/* Конец @media (max-width: 768px) */
@media (max-width: 991px) and (min-width: 768px)
	.hidden-menu
		display: none
	.header
		min-width: 100%
		margin-top: 12px
		padding-bottom: 8px
		&-container
			min-width: 100%
			margin-right: 0
		&__logo
			margin-left: 10px
			background: url(../img/header/logo-dk.png) center no-repeat
		&-contacts
			margin-top: 0
			margin-right: 10px
			&__phone
				&s
					flex-direction: column
			 font-size: 19px
			 margin-right: 10px
			 &:first-child
			 	border-right: none
			 &:nth-child(2)
			  margin-right: 0
			&__button
				display: inline-block
				padding: 10px
				img
					margin-right: 0
	.slider-in
		padding-top: 42px
		padding-bottom: 55px
	.slider-in-2
		padding-top: 27px
		padding-bottom: 56px
	.main
		text-align: center
		padding-top: 5px
		width: 100%
		&-img
			left: 13%
		&-img-2
			left: 17%
			&::before
				left: 35%
		&-text
			max-width: 800px
			padding-top: 54px
			padding-left: 0
			&__title
				font-size: 30px
				line-height: 30px
				color: $active-color
			&__subtitle
				font-size: 18px
				margin-bottom: 38px
			&__form
				background-color: transparent
				padding: 0
		&-text-2
			max-width: 800px
			&__title
				font-size: 22px
				color: $active-color
			&__subtitle
				font-size: 18px
				margin-bottom: 40px
		&-text-2
			padding-top: 22px
			padding-left: 0
	.form
		display: block
		&-title
			width: 100%
			padding-right: 0
			font-size: 16px
			line-height: 1.4
			&__important
				margin-top: 5px
				font-size: 15px
		&__input
			display: block
			text-align: center
			margin-left: auto
			margin-right: auto
			margin-bottom: 13px
			padding-top: 17px
			padding-bottom: 17px
		&-small
			padding-left: 0


	.slider-main
		top: 40%
		transform: scale(1.2, 1.2)
		&:hover
			transform: scale(1.4, 1.4)
		&_right
			right: 2%
		&_left
			left: 2%

	.popup
		max-width: 70%
		&-form
			padding: 10px
			&-header
				font-size: 18px
				span
					font-size: 18px
			&__label
				font-size: 18px
			&__input
				margin-top: 0
				width: 270px
			&__btn
				margin-top: 5px
				margin-left: 0
	.popup-title
		font-size: 18px


	.phankyou
		&-popup
			max-width: 80%
			top: 30%

	.numbers
		margin-bottom: 10px
		&-block
			margin-bottom: 21px
			&__title
				font-size: 25px
				margin-bottom: 4px
	.features
		padding-top: 36px
		padding-bottom: 27px
		&-blocks
			flex-direction: row
		&-block
			flex-basis: 20%
			margin-bottom: 10px
			padding: 22px 15px 22px 15px
			&:hover
				transform: none
				border: none


	.products
		padding-top: 27px
		padding-bottom: 15px
		&-title
			margin-bottom: 0
		&-block
			margin-bottom: 29px
			&__title4
				margin-top: -15px
				margin-bottom: 47px
			&__title
				max-width: 90%
				margin-left: auto
				margin-right: auto
			&__img
				min-width: 300px
				min-height: 100%
				margin-bottom: 18px
			&__img4
				padding-bottom: 70px
			&__icon

	.offer
		padding-top: 50px
		padding-bottom: 54px
		&-title
			margin-bottom: 32px
			font-size: 27px
			&_small
				padding-top: 7px
				font-size: 23px
		&-form
			&__label
				margin-bottom: 26px
				font-size: 15px
			&__button
				margin-bottom: 17px
				padding: 19px 40px 19px 40px
 
	.production
		padding-top: 50px
		padding-bottom: 30px
		&-slider_top
			height: 250px
		&-slider_bottom
			margin-top: 28px
			padding: 0
			img
				width: 100%
				overflow-y: hidden
		&-text
			&__title
				margin-bottom: 17px
				font-size: 22px
				padding: 20px 58px 15px 57px
				margin-right: -20px
				text-align: center
				text-transform: uppercase
			&__descr
  			min-width: 285px
  			line-height: 21px
	p
		text-align: justify
		margin-bottom: 3px					

	.clients-title
		margin-bottom: 8px
		font-size: 25px
		&::after
			margin-top: 0
			background: #fff
	.clients
		padding-top: 10px
		&-block
			height: 100px
			margin-bottom: 5px
			filter: none
			&:hover
				cursor: auto
			&__img
					max-width: 95%
					max-height: 75%

	.feedback-title
		margin-bottom: 8px
		font-size: 25px
	.feedback
		padding-top: 29px
		padding-bottom: 33px
		&-slider
			padding: 0
			img
				width: 92%
	.slider-feed
		top: 39%
		height: 86px
		width: 22px
		z-index: 5
		&_right 
			right: 6px
			background: $active-color url(../img/arrow-right-active.png) center no-repeat
		&_left
			left: 6px
			background: $active-color url(../img/arrow-left-active.png) center no-repeat

	.offer
		&-form
			&__input
				margin-left: auto
				margin-right: auto
				min-width: 300px
	.contacts
		display: block
		background-color: #fff
		padding-top: 16px
		&-map-text
			margin-left: auto
			margin-right: auto
			position: static
			width: 100%
			height: 100%
		&-block
			top: 0
			left: 0
			position: relative
			font-size: 14px
			padding-left: 32px
			padding-bottom: 25px
			text-align: center
			&__title
				margin-bottom: 8px
			&__address
				margin-top: 10px
				&::after
					display: none
			&__phone
				margin-top: 25px
				&::after
					display: none
			&__mail
				margin-top: 22px
				&::after
					display: none
			&__table
				margin-top: 18px
				display: block
				font-size: 22px
				font-weight: 900
				text-transform: uppercase
				text-align: center
	.map
		margin-left: auto
		margin-right: auto
		width: 90%
		height: 425px
		margin-bottom: 40px

/* Конец @media (max-width: 992px) */


@media (max-width: 1199px) and (min-width: 992px)
	.main
		&-img
			width: 100%
			&::before
				width: 300px
				height: 300px
				left: 74%
		&-img-2
			&::before
				width: 300px
				height: 300px
				left: 64%
				top: -5px
		&-small
			padding-left: 0
	.slider-main
		&:hover
		&_right
			right: 1%
		&_left
			left: 1%
	.form__input
		max-width: 260px
	.slider-in
		padding-top: 46px
		padding-bottom: 45px
	.products
		padding-top: 32px
	.contacts
		&-block
			left: 75px
	.features
		padding-bottom: 10px
	.production
		padding-bottom: 20px
	.clients
		padding-top: 28px