@media (max-width: 578px) and (min-width: 320px)
  .header
    padding-top: 75px
    &-block
      flex-wrap: wrap
      justify-content: center
      &__tel
        padding-top: 20px
        position: fixed
        top: 0
        text-align: center
        width: 100%
        height: 58px
        order: 2
        margin-bottom: 10px
        font-size: 18px
        z-index: 10
        color: #fff
        &::after
          width: 100%
          height: 100%
          content: ''
          position: absolute
          top: 0
          left: 0 
          background: #2d2d2d
          z-index: -2
      a
        z-index: 10
      &__logo
        width: 100px
        order: 1
        margin-bottom: 10px
      &__buttons1
        display: flex
        justify-content: center
        align-items: center
      &__buttons
        width: 100%
        justify-content: center
        order: 3
        a
          display: none
      &__link
        margin-left: 10px
        margin-right: 10px
      &__button
        display: none
      &__buttonsmall
        display: flex
        justify-content: center
        align-items: center
        position: fixed
        top: 10px
        right: 10px
        width: 38px
        height: 38px
        font-size: 24px
        background: #016e51
        border: 1px solid #016e51
        border-radius: 4px
        color: #d0d0d0
        z-index: 10
        img
          width: 23px
  .main
    height: 470px
    &-bg
      height: 470px
    &-slider
      height: 470px
    &-slide
      height: 470px
    &-slide1
      height: 470px
      background-size: cover
    &-slide2
      height: 470px
      background-size: cover
    &-slide3
      height: 470px
      background-size: cover
    &-block
      width: 95%
      margin-top: 30px
      &__title
        h1
          font-size: 35px
      &__subtitle
        font-size: 20px
  .menu-burger__open
    display: flex
  .mobmenu-block
    margin-left: auto
    margin-right: auto
    margin-top: 0
    padding-top: 30px
    background: #2d2d2d
    color: #d0d0d0
    width: 100%
    height: 100%
    display: none
    position: fixed
    z-index: 20
    left: 0
    top: 0
    &__link
      text-align: center
      margin-bottom: 20px
      width: 100%
      height: 30px
      color: #d0d0d0
      font-size: 20px
      a
        color: #d0d0d0
  .menu-block
    display: none
  .features
    height: 100%
    &-triangle
      bottom: -69px
      width: 100%
      height: 70px
    &-title
      padding-top: 25px
      font-size: 22px
    &-block
      margin-top: 30px
      flex-wrap: wrap
      justify-content: center
      &__element
        width: 100%
        max-width: 320px
        margin-bottom: 30px
      &__pic
        margin-bottom: 15px
        height: 43px
      &__title
        margin-bottom: 5px
        font-size: 18px
      &__subtitle
        font-size: 16px
  .featurestwo
    padding-top: 30px
    padding-bottom: 30px
    &-blockone
      width: 90%
      &__title
        margin-bottom: 25px
        font-size: 22px
        text-align: center
      &__descr
        font-size: 18px
        text-align: center
    &-blocktwo
      display: none
  .catalog
    padding-top: 0
    padding-bottom: 10px
    height: 100%
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-slider
      height: 580px
      .slick-next
        right: 5px
        z-index: 7
      .slick-prev
        left: 5px
        z-index: 7
      .slick-dots
        bottom: 355px
    &-block
      flex-wrap: wrap
      justify-content: center
      &__pic
        margin-left: auto
        margin-right: auto
        width: 95%
        height: 240px
      &__text
        width: 90%
        padding-left: 0
      &__title
        height: 35px
        text-align: center
        margin-top: 20px
        font-size: 22px
      &__subtitle
        height: 35px
        text-align: center
        margin-bottom: 20px
        font-size: 20px
      &__descr
        height: 130px 
        margin-bottom: 15px
        font-size: 17px
        text-align: center
      &__buy
        justify-content: center
        flex-wrap: wrap
      &__price
        width: 100%
        text-align: center
        margin-bottom: 10px
  .services
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      max-width: 400px
      flex-wrap: wrap
    &-slider
      width: 95%
    &-blockone
      &__buttons
        button
          width: 90%
          height: 50px
          max-width: 350px
          font-size: 17px
          margin-bottom: 8px
          text-align: center
    &-blocktwo
      &__block
        margin-left: auto
        margin-right: auto
        width: 90%
        height: 290px
      &__pic
        width: 100%
      &__text
        width: 100%
        font-size: 17px
        text-align: center
  .about
    height: 100%
    padding-top: 25px
    padding-bottom: 35px
    &-pic
      width: 100%
      max-width: 400px
      right: 0
      left: 0
      filter: brightness(50%)
    &-block
      z-index: 5
      width: 90%
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 22px
        text-align: center
        margin-bottom: 40px
      &__descr
        font-size: 17px
        text-align: center
  .present
    padding-top: 100px
    height: 450px
    &-block
      width: 95%
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 30px
      &__subtitle
        font-size: 22px
  .partners
    padding-top: 0
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      flex-wrap: wrap
    &-block
      margin-bottom: 25px
      max-width: 210px
      width: 80%
  .footer
    padding-top: 25px
    &-blocks
      flex-wrap: wrap
    &-block
      &__contacts
        text-align: center
        width: 100%
        margin-bottom: 10px
      &__city
        font-size: 18px
      &__tel
        font-size: 18px
      &__logo
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
      &__buttons
        width: 100%
      &__rels
        justify-content: center
      &__link
        margin-right: 10px
      &__mail
        width: 100%
        font-size: 18px
        text-align: center
  .popuppresent
    &-step
      left: 0
      font-size: 16px
    &-title
      top: 30px
      font-size: 22px
    &-subtitle
      font-size: 18px
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
@media (max-width: 768px) and (min-width: 579px)
  .header
    padding-top: 40px
    &-block
      width: 95%
      flex-wrap: wrap
      justify-content: space-between
      &__tel
        padding-top: 20px
        text-align: left
        width: 33%
        height: 58px
        margin-bottom: 10px
        font-size: 22px
        z-index: 10
        color: #fff
      &__logo
        width: 100px
        margin-bottom: 10px
      &__buttons1
        display: none
      &__buttons
        width: 33%
        flex-wrap: wrap
      &__link
        margin-left: 10px
        margin-right: 10px
      &__button
        display: none
      &__buttonsmall
        margin-left: 10px
        margin-right: 10px
        display: block
        width: 40px
        height: 40px
        font-size: 24px
        background: #016e51
        border: 1px solid #016e51
        border-radius: 50%
        color: #d0d0d0
        padding-bottom: 5px
        z-index: 10
  .main
    height: 470px
    &-bg
      height: 470px
    &-slider
      height: 470px
    &-slide
      height: 470px
    &-slide1
      height: 470px
      background-size: cover
    &-slide2
      height: 470px
      background-size: cover
    &-slide3
      height: 470px
      background-size: cover
    &-block
      width: 95%
      margin-top: 50px
      &__title
        h1
          font-size: 35px
      &__subtitle
        font-size: 20px
  .menu-burger__open
    display: none
    &__link
      text-align: center
      margin-bottom: 20px
      width: 100%
      height: 30px
      color: #d0d0d0
      font-size: 20px
      a
        color: #d0d0d0
  .menu-block
    margin-top: 0
    height: 40px
    display: flex
    position: fixed
    top: 0
    left: 0
    z-index: 10
    &::after
      width: 100%
      height: 100%
      content: ''
      position: absolute
      top: 0
      left: 0 
      background: #2d2d2d
      z-index: -2
    &__link
      font-size: 18px
      a
        z-index: 10
  .features
    height: 100%
    &-triangle
      bottom: -69px
      width: 100%
      height: 70px
    &-title
      padding-top: 25px
      font-size: 22px
    &-block
      margin-top: 30px
      flex-wrap: wrap
      justify-content: center
      &__element
        width: 100%
        max-width: 320px
        margin-bottom: 30px
      &__pic
        margin-bottom: 15px
        height: 43px
      &__title
        margin-bottom: 5px
        font-size: 18px
      &__subtitle
        font-size: 16px
  .featurestwo
    padding-top: 30px
    padding-bottom: 30px
    &-blockone
      width: 90%
      max-width: 500px 
      &__title
        margin-bottom: 25px
        font-size: 22px
        text-align: center
      &__descr
        font-size: 18px
        text-align: center
    &-blocktwo
      display: none
  .catalog
    padding-top: 0
    padding-bottom: 10px
    height: 100%
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-slider
      max-width: 520px
      height: 530px
      .slick-next
        right: 5px
        z-index: 7
      .slick-prev
        left: 5px
        z-index: 7
      .slick-dots
        bottom: 300px
    &-block
      flex-wrap: wrap
      justify-content: center
      &__pic
        margin-left: auto
        margin-right: auto
        width: 95%
        height: 240px
      &__text
        width: 90%
        padding-left: 0
      &__title
        height: 35px
        text-align: center
        margin-top: 20px
        font-size: 22px
      &__subtitle
        height: 35px
        text-align: center
        margin-bottom: 20px
        font-size: 20px
      &__descr
        height: 90px 
        margin-bottom: 15px
        font-size: 17px
        text-align: center
      &__buy
        justify-content: center
        flex-wrap: wrap
      &__price
        width: 100%
        text-align: center
        margin-bottom: 10px
  .services
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      max-width: 400px
      flex-wrap: wrap
    &-slider
      width: 95%
    &-blockone
      &__buttons
        button
          width: 90%
          height: 50px
          max-width: 350px
          font-size: 17px
          margin-bottom: 8px
          text-align: center
    &-blocktwo
      &__block
        margin-left: auto
        margin-right: auto
        width: 90%
        height: 290px
      &__pic
        width: 100%
      &__text
        width: 100%
        font-size: 17px
        text-align: center
  .about
    height: 100%
    padding-top: 25px
    padding-bottom: 35px
    &-pic
      width: 100%
      max-width: 400px
      right: 0
      left: 0
      filter: brightness(30%)
    &-block
      z-index: 5
      width: 90%
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 22px
        text-align: center
        margin-bottom: 40px
      &__descr
        margin-left: auto
        margin-right: auto
        max-width: 470px
        font-size: 17px
        text-align: center
  .present
    padding-top: 100px
    height: 400px
    &-block
      width: 95%
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 30px
      &__subtitle
        font-size: 22px
  .partners
    padding-top: 0
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      flex-wrap: wrap
    &-block
      margin-left: 10px
      margin-right: 10px
      margin-bottom: 25px
      max-width: 210px
      width: 80%
  .footer
    padding-top: 25px
    &-blocks
      flex-wrap: wrap
      justify-content: center
    &-block
      &__contacts
        text-align: center
        width: 100%
        margin-bottom: 10px
      &__city
        font-size: 18px
      &__tel
        font-size: 18px
      &__logo
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
      &__buttons
        width: 100%
        text-align: center
      &__rels
        justify-content: center
      &__link
        margin-right: 10px
      &__mail
        width: 100%
        max-width: 250px
        font-size: 18px
        text-align: center
  .popuppresent
    &-step
      left: 0
      font-size: 16px
    &-title
      top: 30px
      font-size: 22px
    &-subtitle
      font-size: 18px
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
@media (max-width: 992px) and (min-width: 769px)
  .header
    &-block
      width: 95%
      flex-wrap: wrap
      justify-content: space-between
      &__tel
        padding-top: 20px
        text-align: left
        width: 33%
        height: 58px
        margin-bottom: 10px
        font-size: 22px
        z-index: 10
        color: #fff
      &__logo
        width: 100px
        margin-bottom: 10px
      &__buttons1
        display: none
      &__buttons
        width: 33%
      &__link
        margin-left: 10px
        margin-right: 10px
      &__buttonsmall
        display: none
  .main
    height: 470px
    &-bg
      height: 470px
    &-slider
      height: 470px
    &-slide
      height: 470px
    &-slide1
      height: 470px
      background-size: cover
    &-slide2
      height: 470px
      background-size: cover
    &-slide3
      height: 470px
      background-size: cover
    &-block
      width: 95%
      margin-top: 50px
      &__title
        h1
          font-size: 40px
      &__subtitle
        font-size: 20px
  .menu-burger__open
    display: none
  .menu-block
    margin-top: 10px
    width: 80%
  
  .features
    height: 100%
    &-triangle
      bottom: -69px
      width: 100%
      height: 70px
    &-title
      padding-top: 25px
      font-size: 22px
    &-block
      max-width: 800px
      margin-top: 30px
      flex-wrap: wrap
      justify-content: center
      &__element
        width: 100%
        max-width: 320px
        margin-bottom: 30px
      &__pic
        margin-bottom: 15px
        height: 43px
      &__title
        margin-bottom: 5px
        font-size: 18px
      &__subtitle
        font-size: 16px
  .featurestwo
    padding-top: 100px
    padding-bottom: 30px
    &-blocks
      max-width: 750px
    &-blockone
      width: 49% 
      max-width: 500px 
      &__title
        margin-bottom: 25px
        font-size: 22px
        text-align: center
      &__descr
        font-size: 18px
    &-blocktwo
      margin-left: 30px
      width: 49%
      max-width: 500px
      &__pic1
        width: 200px
        height: 290px
      &__pic2
        top: 16%
        left: 58%
        width: 140px
        height: 180px
      &__pic3
        top: 70%
        width: 160px
        height: 100px
  .catalog
    padding-top: 0
    padding-bottom: 10px
    height: 100%
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-slider
      max-width: 520px
      height: 530px
      .slick-next
        right: 5px
        z-index: 7
      .slick-prev
        left: 5px
        z-index: 7
      .slick-dots
        bottom: 300px
    &-block
      flex-wrap: wrap
      justify-content: center
      &__pic
        margin-left: auto
        margin-right: auto
        width: 95%
        height: 240px
      &__text
        width: 90%
        padding-left: 0
      &__title
        height: 35px
        text-align: center
        margin-top: 20px
        font-size: 22px
      &__subtitle
        height: 35px
        text-align: center
        margin-bottom: 20px
        font-size: 20px
      &__descr
        height: 90px 
        margin-bottom: 15px
        font-size: 17px
        text-align: center
      &__buy
        justify-content: center
        flex-wrap: wrap
      &__price
        width: 100%
        text-align: center
        margin-bottom: 10px
  .services
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      width: 95%
      max-width: 800px
    &-blockone
      &__buttons
        button
          width: 90%
          height: 50px
          max-width: 350px
          font-size: 17px
          margin-bottom: 8px
          text-align: center
    &-blocktwo
      &__block
        margin-left: auto
        margin-right: auto
        width: 90%
        height: 290px
      &__pic
        width: 100%
      &__text
        width: 100%
        font-size: 17px
        text-align: center
  .about
    height: 100%
    padding-top: 25px
    padding-bottom: 35px
    &-pic
      left: 0
      width: 50%
    &-block
      margin-left: 51%
      z-index: 5
      width: 330px
      &__title
        font-size: 22px
        text-align: center
        margin-bottom: 40px
      &__descr
        font-size: 17px
  .present
    padding-top: 100px
    height: 400px
    &-block
      width: 95%
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 30px
      &__subtitle
        font-size: 22px
  .partners
    padding-top: 0
    padding-bottom: 25px
    &-title
      padding-top: 25px
      margin-bottom: 25px
      font-size: 22px
    &-blocks
      max-width: 850px
      flex-wrap: wrap
    &-block
      margin-left: 10px
      margin-right: 10px
      margin-bottom: 25px
      max-width: 210px
      width: 80%
  .footer
    padding-top: 25px
    &-blocks
      width: 95%
  .popuppresent
    &-step
      left: 0
      font-size: 16px
    &-title
      top: 30px
      font-size: 22px
    &-subtitle
      font-size: 18px
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
@media (max-width: 1100px) and (min-width: 993px)
  .header
    &-block
      width: 95%
  .features
    height: 100%
    &-triangle
      bottom: -69px
      width: 100%
      height: 70px
    &-title
      padding-top: 25px
    &-block
      max-width: 800px
      margin-top: 30px
      flex-wrap: wrap
      justify-content: center
      &__element
        width: 100%
        max-width: 320px
        margin-bottom: 30px
      &__pic
        margin-bottom: 15px
      &__title
        margin-bottom: 5px
  .featurestwo
    padding-top: 100px
    padding-bottom: 140px
    &-blocks
      width: 95%
    &-blockone
      width: 49% 
      max-width: 550px 
    &-blocktwo
      width: 49%
      max-width: 450px
  .catalog
    &-slider
      .slick-next
        right: -35px
        z-index: 7
      .slick-prev
        left: -35px
        z-index: 7
  .services
    &-blocks
      width: 95%
  .about
    height: 550px 
    &-block
      margin-left: 48%
      z-index: 5
      width: 470px
  .present
    padding-top: 120px
    height: 440px
  .partners
    &-blocks
      max-width: 850px
      flex-wrap: wrap
    &-block
      margin-left: 10px
      margin-right: 10px
      margin-bottom: 25px
      max-width: 210px
      width: 80%
  .footer
    &-blocks
      width: 95%
  .popuppresent
    &-step
      left: 0
      font-size: 16px
    &-title
      top: 30px
      font-size: 22px
    &-subtitle
      font-size: 18px
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
@media (max-width: 1200px) and (min-width: 1101px)
  .header
    &-block
      width: 95%
  .features
    &-block
      &__title
        font-size: 20px
  .partners
    &-block
      margin-left: 10px
      margin-right: 10px
      margin-bottom: 25px
      max-width: 200px
      width: 80%
  .footer
    &-blocks
      width: 95%
  .popuppresent
    &-step
      left: 0
      font-size: 16px
    &-title
      top: 30px
      font-size: 22px
    &-subtitle
      font-size: 18px
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
@media (max-width: 1400px) and (min-width: 1201px)
  .step
    padding-bottom: 50px
    height: 100vh
    &-buttons
      padding-bottom: 10px
      height: 60px
      background: #fff
      z-index: 13
      bottom: 0
