@media (max-width: 578px) and (min-width: 320px)
  .header
    background: url(../img/header/bg.jpg) bottom no-repeat
    background-size: cover
    height: 470px
    &-block
      padding-top: 12px
      width: 100%
      height: 68px
      display: flex
      flex-wrap: wrap
      position: relative
      align-items: flex-start
      &__info
        margin-left: auto
        margin-right: auto
        display: block
      &__logo
        margin-right: 0
        width: 130px
      &__tel
        position: absolute
        right: 15px
        top: 18px
        width: 33px
        height: 33px
        text-align: center
        a
          font-size: 18px
          span
            display: none
      &__telpic
        display: block
        width: 33px
        height: 33px
        background: url(../img/header/tel.png) center no-repeat
        background-size: 100% 100%
        background-color: #de6a5b
        border-radius: 3px
      &__rels
        width: 100%
        height: 38px
        justify-content: center
        align-items: flex-start
        button
          position: absolute
          left: 50%
          bottom: -320px
          transform: translateX(-50%)
          margin-left: 0
          width: 145px
          height: 38px
      &__descr
        display: none
    &-menu
      width: 100%
      &:before
        width: 100%
      &__burger
        margin-left: 0
        top: 20px
  .main
    &-block
      width: 100%
      max-width: 320px
      margin-left: auto
      margin-right: auto
      &__title
        margin-top: 145px
        margin-bottom: 17px
        font-size: 40px
        text-align: center
        text-shadow: white 0 0 3px
        line-height: 1
      &__subtitle
        font-size: 25px
        text-align: center
        color: #fff
  .category
    padding: 25px 0
    &-title
      margin-bottom: 5px
    &-blocks
      width: 100%
    &-slider
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      .slick-current
        .category-block__pic
          transform: scale(1, 1)
          margin-bottom: 25px
    &-slide
      width: 100%
    &-block
      width: 100%
      margin-left: 0
      margin-right: 0
      padding-top: 25px
      z-index: 5
      &__pic
        padding: 15px
        width: 150px
        height: 150px
        margin-bottom: 25px
      &__descr
        display: block
        width: 90%
        margin-left: auto
        margin-right: auto
    &-slider
      &:before
        display: none
  .slider-category
    &_right
      right: 0
    &_left
      left: 0
  .stages
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 100%
      &:before
        display: none
    &-block:nth-child(5)
       &:after
         display: none
    &-block
      margin-left: auto
      margin-right: auto
      flex-wrap: wrap
      max-width: 320px
      margin-bottom: 40px
      position: relative
      &:after
        content: ""
        width: 0
        height: 0
        position: absolute 
        left: 137px 
        bottom: -34px
        border-left: 24px solid transparent
        border-right: 24px solid transparent
        border-top: 24px solid #de6a5b
      &__reverse
        .stages-block__pic
          order: 1
        .stages-block__text
          order: 2
      &__pic
      &__text
        padding-top: 10px
        background: #fff
  .request
    padding: 25px 0
    &-blocks
      width: 90%
      &:before
        width: 200px
        border-left: 1px solid #DE6A5B
        border-top: 1px solid #DE6A5B
      &:after
        width: 150px
        border-right: 1px solid #DE6A5B
        border-bottom: 1px solid #DE6A5B
    &-block
      &__input
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
        display: block
      &__button
        margin-top: 15px
      &__small
        width: 90%
  .works
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 100%
    &-slider
      display: none !important
    &-slidermob
      margin-bottom: 20px
      display: flex
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 400px
      height: 240px
      justify-content: center
    &-block
      a
        outline: none
      &__picmob
        width: 100%
        height: 240px
        img
          width: 100%
          height: 100%
          object-fit: cover
  .slider-works
    top: 50%
    transform: translateY(-50%)
  .features
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      margin-bottom: 30px
      &__title
        width: 100%
        height: 25px
        margin-bottom: 3px
  .about
    padding: 25px 0
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      &__forpics
        display: none
  .feedback
    &-blocks
      width: 100%
    &-block
      width: 100%
      &:before
        display: none
      &__text
        padding-top: 20px
        width: 90%
      &__feedback
        max-height: 250px
  .slider-feed
    top: 21px
    &_right
      right: 5%
    &_left
      left: 5%
  .partners
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 90%
    &-slider
      img
        filter: grayscale(0)
  .slider-partners
    &_right
      right: 0
    &_left
      left: 0
  .footer
    &-blocks
      width: 100%
      flex-wrap: wrap
    &-block
      margin-bottom: 10px
      width: 90%
      margin-left: auto
      margin-right: auto
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      &__logo
        width: 130px
      &__tel
        width: 100%
      &__button
        margin-right: auto
      &__mail
        margin-left: auto
        margin-right: auto
        width: 70%
        text-align: center
@media (max-width: 768px) and (min-width: 579px)
  .header
    background: url(../img/header/bg.jpg) bottom no-repeat
    background-size: cover
    height: 520px
    &-block
      padding: 5px 20px 0 58px
      width: 100%
      height: 68px
      display: flex
      position: relative
      align-items: center
      justify-content: space-between
      &__logo
        margin-right: 0
        width: 130px
      &__tel
        text-align: center
        a
          font-size: 20px
      &__rels
        height: 38px
        justify-content: flex-end
        align-items: center
        button
          margin-left: 10px
          width: 145px
          height: 38px
      &__descr
        display: none
    &-menu
      &__burger
        margin-left: 0
        top: 20px
  .main
    &-block
      width: 100%
      margin-left: auto
      margin-right: auto
      &__title
        margin-top: 165px
        margin-bottom: -8px
        text-align: center
        text-shadow: white 0 0 3px
        line-height: 1
      &__subtitle
        text-align: center
        text-shadow: white 0 0 3px
  .category
    padding: 25px 0
    &-title
      margin-bottom: 5px
    &-blocks
      width: 100%
    &-slider
      margin-left: auto
      margin-right: auto
      width: 550px
    &-block
      margin-left: 0
      margin-right: 0
      z-index: 5
    &-slider
      &:before
        width: 460px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
  .slider-category
    &_right
      right: 0
    &_left
      left: 0
  .stages
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 100%
      &:before
        display: none
    &-block:nth-child(5)
       &:after
         display: none
    &-block
      margin-left: auto
      margin-right: auto
      flex-wrap: wrap
      max-width: 320px
      margin-bottom: 40px
      position: relative
      &:after
        content: ""
        width: 0
        height: 0
        position: absolute 
        left: 137px 
        bottom: -34px
        border-left: 24px solid transparent
        border-right: 24px solid transparent
        border-top: 24px solid #de6a5b
      &__reverse
        .stages-block__pic
          order: 1
        .stages-block__text
          order: 2
      &__pic
      &__text
        padding-top: 10px
        background: #fff
  .request
    padding: 25px 0
    &-blocks
      width: 90%
      &:before
        width: 200px
        border-left: 1px solid #DE6A5B
        border-top: 1px solid #DE6A5B
      &:after
        width: 150px
        border-right: 1px solid #DE6A5B
        border-bottom: 1px solid #DE6A5B
    &-block
      &__input
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
        display: block
      &__button
        margin-top: 15px
      &__small
        width: 90%
  .works
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 100%
    &-slider
      display: none !important
    &-slidermob
      margin-bottom: 20px
      display: flex
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 650px
      height: 340px
      justify-content: center
    &-block
      a
        outline: none
      &__picmob
        width: 100%
        height: 340px
        img
          width: 100%
          height: 100%
          object-fit: cover
  .slider-works
    top: 50%
    transform: translateY(-50%)
  .features
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      margin-bottom: 30px
      &__title
        width: 100%
        height: 25px
        margin-bottom: 3px
  .about
    padding: 25px 0
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      &__forpics
        display: none
  .feedback
    &-blocks
      width: 100%
      max-width: 500px
    &-block
      width: 100%
      &:before
        display: none
      &__text
        padding-top: 20px
        width: 90%
      &__feedback
        max-height: 250px
  .slider-feed
    top: 21px
    &_right
      right: 5%
    &_left
      left: 5%
  .partners
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 90%
    &-slider
      img
        filter: grayscale(0)
  .slider-partners
    &_right
      right: 0
    &_left
      left: 0
  .footer
    &-blocks
      width: 100%
      flex-wrap: wrap
    &-block
      width: 90%
      margin-left: auto
      margin-right: auto
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      &__descr
        padding-top: 10px
      &__logo
        width: 130px
      &__tel
        width: 50%
      &__city
        padding-right: 15px
        width: 50%
      &__button
        margin-top: 10px
        margin-right: auto
      &__mail
        margin-left: auto
        margin-right: auto
        width: 90%
        text-align: center
@media (max-width: 992px) and (min-width: 769px)
  .header
    height: 520px
    &-block
      padding: 5px 20px 0 58px
      width: 100%
      height: 68px
      display: flex
      position: relative
      align-items: center
      justify-content: space-between
      &__logo
        margin-right: 0
        width: 155px
      &__tel
        text-align: center
        a
          font-size: 22px
      &__rels
        height: 38px
        justify-content: flex-end
        align-items: center
        button
          margin-left: 10px
          width: 155px
          height: 43px
      &__descr
        display: none
    &-menu
      &__burger
        margin-left: 0
        top: 20px
  .main
    &-block
      width: 95%
      margin-left: auto
      margin-right: auto
      &__title
        margin-top: 165px
        margin-bottom: -8px
        text-shadow: white 0 0 3px
        line-height: 1
      &__subtitle
        text-shadow: white 0 0 3px
  .category
    padding: 25px 0
    &-title
      margin-bottom: 5px
    &-blocks
      width: 100%
    &-slider
      margin-left: auto
      margin-right: auto
      width: 550px
    &-block
      margin-left: 0
      margin-right: 0
      z-index: 5
    &-slider
      &:before
        width: 460px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
  .slider-category
    &_right
      right: 0
    &_left
      left: 0
  .stages
    padding: 25px 0
    &-title
      margin-bottom: 25px
  .request
    padding: 25px 0
    &-blocks
      width: 90%
      max-width: 950px
  .works
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 750px
    &-slider
      width: 750px
    &-block
      &__small
        width: 445px
        height: 300px
      &__pic
        width: 220px
        height: 145px
      &__picbig
        width: 300px
        height: 295px
    &-slidermob
      display: none !important
  .slider-works
    top: 107px
  .features
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      margin-bottom: 30px
      &__title
        width: 100%
        height: 25px
        margin-bottom: 3px
  .about
    padding: 25px 0
    &-blocks
      width: 95%
      flex-wrap: wrap
    &-block
      &__text
        width: 330px
      &__forpics
        width: 350px
      &__pic
        width: 150px
        height: 150px
  .feedback
    &-blocks
      width: 100%
      max-width: 500px
    &-block
      width: 100%
      &:before
        display: none
      &__text
        padding-top: 20px
        width: 90%
      &__feedback
        max-height: 250px
  .slider-feed
    top: 21px
    &_right
      right: 5%
    &_left
      left: 5%
  .partners
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 95%
    &-slider
      img
        filter: grayscale(0)
  .slider-partners
    &_right
      right: 0
    &_left
      left: 0
  .footer
    &-blocks
      width: 90%
      flex-wrap: wrap
      align-items: center
    &-block
      width: 50%
      margin-left: auto
      margin-right: auto
      display: flex
      flex-wrap: wrap
      &__descr
        width: 100%
      &__logo
        width: 155px
      &__tel
        text-align: right
        width: 100%
      &__city
        text-align: right
        width: 100%
      &__button
        margin-top: 10px
        margin-right: auto
      &__mail
        margin-left: auto
        margin-right: auto
        width: 90%
        text-align: center
@media (max-width: 1024px) and (min-width: 993px)
  .header
    height: 520px
    &-block
      padding: 0 20px 0 58px
      width: 100%
      height: 80px
      display: flex
      position: relative
      align-items: center
      justify-content: space-between
      &__logo
        margin-right: 10px
      &__rels
        height: 38px
        justify-content: flex-end
        align-items: center
        button
          margin-left: 10px
    &-menu
      &__burger
        margin-left: 0
        top: 23px
  .main
    &-block
      width: 94%
      margin-left: auto
      margin-right: auto
      &__title
        margin-top: 165px
        text-shadow: white 0 0 3px
        line-height: 1
      &__subtitle
        padding-left: 2px
        text-shadow: white 0 0 3px
  .category
    &-blocks
      width: 100%
    &-slider
      margin-left: auto
      margin-right: auto
      width: 990px
    &-block
      margin-left: 0
      margin-right: 0
      z-index: 5
    &-slider
      &:before
        width: 880px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
  .slider-category
    &_right
      right: 370px
    &_left
      left: 370px
  .works
    &-blocks
      width: 990px
    &-slider
      width: 990px
    &-block
      &__small
        width: 585px
        height: 400px
      &__pic
        width: 290px
        height: 195px
      &__picbig
        width: 400px
        height: 395px
  .features
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      margin-bottom: 30px
      &__title
        width: 100%
        height: 25px
        margin-bottom: 3px
  .about
    &-blocks
      width: 95%
      flex-wrap: wrap
    &-block
      &__text
        width: 450px
      &__forpics
        width: 450px
      &__pic
        width: 200px
        height: 200px
  .feedback
    &-blocks
      width: 100%
  .slider-feed
    top: 32px
  .partners
    padding: 25px 0
    &-title
      margin-bottom: 25px
    &-blocks
      width: 95%
  .slider-partners
    &_right
      right: 0
    &_left
      left: 0
  .footer
    &-blocks
      width: 90%
      flex-wrap: wrap
      align-items: center
    &-block
      width: 50%
      margin-left: auto
      margin-right: auto
      display: flex
      flex-wrap: wrap
      &__descr
        width: 100%
      &__logo
        width: 155px
      &__tel
        text-align: right
        width: 100%
      &__city
        text-align: right
        width: 100%
      &__button
        margin-top: 10px
        margin-right: auto
      &__mail
        margin-left: auto
        margin-right: auto
        width: 90%
        text-align: center
@media (max-width: 1200px) and (min-width: 1025px)
  .header
    &-block
      padding: 0 20px 0 58px
      width: 100%
    &-menu
      &__burger
        margin-left: 0
  .main
    &-block
      width: 90%
      margin-left: auto
      margin-right: auto
      &__title
        text-shadow: white 0 0 3px
      &__subtitle
        padding-left: 2px
        text-shadow: white 0 0 3px
  .category
    &-blocks
      width: 100%
    &-slider
      margin-left: auto
      margin-right: auto
      width: 990px
    &-block
      margin-left: 0
      margin-right: 0
      z-index: 5
    &-slider
      &:before
        width: 880px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
  .slider-category
    &_right
      right: 370px
    &_left
      left: 370px
  .works
    &-blocks
      width: 990px
    &-slider
      width: 990px
    &-block
      &__small
        width: 585px
        height: 400px
      &__pic
        width: 290px
        height: 195px
      &__picbig
        width: 400px
        height: 395px
  .features
    &-blocks
      width: 90%
      flex-wrap: wrap
    &-block
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 320px
      margin-bottom: 30px
      &__title
        width: 100%
        height: 25px
        margin-bottom: 3px
  .about
    &-blocks
      width: 95%
      flex-wrap: wrap
    &-block
      &__text
        width: 450px
      &__forpics
        width: 450px
      &__pic
        width: 200px
        height: 200px
  .feedback
    &-blocks
      width: 100%
  .slider-feed
    top: 32px
  .partners
    &-blocks
      width: 95%
      max-width: 1050px
  .slider-partners
    &_right
      right: 0
    &_left
      left: 0
  .footer
    &-blocks
      width: 88%
@media (max-width: 1330px) and (min-width: 1201px)
  .header
    &-block
      padding: 0 20px 0 58px
      width: 100%
    &-menu
      &__burger
        margin-left: 0
