
@font-face {
	font-family: 'Gabriela';
	src: url('../fonts/Gabriela-Regular.eot');
	src: local('Gabriela'), local('Gabriela-Regular'),
		url('../fonts/Gabriela-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gabriela-Regular.woff') format('woff'),
		url('../fonts/Gabriela-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
