#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
	z-index:350;
	transition:all 0.3s ease-in-out;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	z-index:350;
}

#toTop:hover {
	transform:rotate(180deg);
}


#toTop:active, #toTop:focus {
	outline:none;
	transform:rotate(180deg);
}

@media (max-width: 768px) and (min-width: 320px) {
	#toTopHover {
		transform:rotate(180deg);
	}
	#toTop {
		transform:rotate(180deg);
	}
	#toTop:hover {
		outline:none;
		transform:rotate(180deg);
	}
	#toTop:active, #toTop:focus {
		outline:none;
		transform:rotate(180deg);
	}
}

